.navbar{
  background-color: #333333;
  display: flex;
  height: 40px;
  color: white;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navLeft{

}

.navRight{
  display:flex;
  flex-direction: row;
  gap:15px;
}