.form{
  width: 400px;
  display:flex;
  flex-direction:column;
  margin: 50px auto;
}


.form button{
  margin-top: 20px;
  width: 100px;
}

.form-control{
  display: flex;
  margin-bottom: 15px;
}

.form-control label{
  width: 100px;
}